{{ partial "header" . }}
<main id="site-main" class="site-main" role="main">
    <div class="content">
    
        {{ if .Site.Params.background_img }}
        <div class="banner is-full--height" style="background-image: url({{ .Site.Params.background_img | relURL }})">
        {{ end }}
           
            <div class="banner-inner">
                <div class="container banner-content">
                    <h1 class="banner-title">We Create Themes and Tools for WordPress with an Incredible User Experience</h1>
                    <h4 class="banner-description">UX Themes is the proud creators of the Best Selling 
Flatsome WooCommerce Theme</h4>
                </div>

            </div>
        </div>
        
        <section class="theme-portfolio">
            <div class="container">
                <header class="theme-portfolio__header">
                    <div class="theme-portfolio__title">
                        <h1>pre-built websites with super easy 1 click installation</h1>
                    </div>
                </header>
                
<div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".wordpress">WordPress</button>
  <button class="button" data-filter=".ghost">Ghost</button>
  <button class="button" data-filter=".hugo">Hugo</button>
  <button class="button" data-filter=".woocommerce">WooCommerce</button>
  <button class="button" data-filter=".docs">Docs</button>
 
</div>

<div class="grid demo-theme clearfix">
 <div class="element-item demo-theme__item wordpress " data-category="wordpress">
    <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item demo-theme__item wordpress " data-category="wordpress">
    <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item demo-theme__item ghost " data-category="ghost">
   <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item demo-theme__item wordpress " data-category="wordpress">
    <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item wordpress " data-category="wordpress">
    <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item hugo " data-category="hugo">
    <feature class="demo-theme__img"><img src="{{ .Site.BaseURL }}img/splash_home_biker.jpg" alt=""></feature>
    <div class="demo-theme__preview">
        <a class="demo-theme__preview-link" href="">Preview</a>
    </div>
    <footer class="demo-theme__title"><h3>Flynco</h3></footer>
  </div>
  <div class="element-item ghost " data-category="ghost">
    <h3 class="name">Potassium</h3>
    <p class="symbol">K</p>
    <p class="number">19</p>
    <p class="weight">39.0983</p>
  </div>
  <div class="element-item ghost " data-category="ghost">
    <h3 class="name">Sodium</h3>
    <p class="symbol">Na</p>
    <p class="number">11</p>
    <p class="weight">22.99</p>
  </div>
  <div class="element-item wordpress woocommerce " data-category="wordpress">
    <h3 class="name">Cadmium</h3>
    <p class="symbol">Cd</p>
    <p class="number">48</p>
    <p class="weight">112.411</p>
  </div>
  <div class="element-item ghost " data-category="ghost">
    <h3 class="name">Calcium</h3>
    <p class="symbol">Ca</p>
    <p class="number">20</p>
    <p class="weight">40.078</p>
  </div>
  <div class="element-item wordpress woocommerce " data-category="wordpress">
    <h3 class="name">Rhenium</h3>
    <p class="symbol">Re</p>
    <p class="number">75</p>
    <p class="weight">186.207</p>
  </div>
  <div class="element-item ghost " data-category="ghost">
    <h3 class="name">Thallium</h3>
    <p class="symbol">Tl</p>
    <p class="number">81</p>
    <p class="weight">204.383</p>
  </div>
  <div class="element-item hugo " data-category="hugo">
    <h3 class="name">Antimony</h3>
    <p class="symbol">Sb</p>
    <p class="number">51</p>
    <p class="weight">121.76</p>
  </div>
  <div class="element-item woocommerce " data-category="woocommerce">
    <h3 class="name">Cobalt</h3>
    <p class="symbol">Co</p>
    <p class="number">27</p>
    <p class="weight">58.933</p>
  </div>
  
 
</div>

            </div>
        </section>
        
    </div>

</main>


{{ partial "footer" . }}

