/* Variables
/* ---------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Montserrat|Open sans);


:root {
    /* Colours */
    --primary-color: hsl(0, 0%, 22%);
    --primary-text-color: hsl(0, 0%, 22%);
    --hovered-text-color: hsla(0, 0%, 22%, .8);
    --secondary-text-color: hsl(0, 0%, 46%);
    --light-text-color: hsl(0, 0%, 100%);
    --expand-color: hsla(0, 0%, 6.7%, .6);
    --main-background: hsl(0, 0%, 100%);
    --body-background: hsl(0, 0%, 95%);
    --nav-background: hsl(0, 0%, 98%);
    --hovered-nav-background: hsl(0, 0%, 95%);
    --border-color: hsl(0, 0%, 90%);
    --black-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    --link-color: #f09a75;
/*    --link-color: hsl(201, 85%, 59%);*/
    --hovered-link-color: hsl(201, 85%, 59%);
    --meta-background: hsl(40, 32%, 62%);
    
    --font-body: 'Open sans', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
}


/* Custom media queries*/

@custom-media --extra-small-screen (max-width: 31.250em);
@custom-media --small-screen (max-width: 43.750em);
@custom-media --medium-screen (max-width: 56.250em);
@custom-media --only-medium-screen (width >= 43.750em) and (width <= 56.250em);
@custom-media --large-screen (min-width: 56.250em);
@custom-media --only-large-screen (width >= 56.250em) and (width <= 65.625em);
