{{ partial "header" . }}
<main id="site-main" class="site-main" role="main">
    <div class="content">
    
        {{ if .Site.Params.background_img }}
        <div class="banner is-full--height" style="background-image: url({{ .Site.Params.background_img | relURL }})">
        {{ end }}
           
            <div class="banner-inner">
                <div class="container banner-content">
                    <h1 class="banner-title">We Create Themes and Tools for WordPress with an Incredible User Experience</h1>
                    <h4 class="banner-description">UX Themes is the proud creators of the Best Selling 
Flatsome WooCommerce Theme</h4>
                </div>

            </div>
        </div>
    </div>

</main>

       
       
{{ partial "footer" . }}
        
