{{ if .Site.Params.authorbox }}
<section class="author-card authorbox">

    {{ if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
    <p class="authorbox__warning"><strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.</p>
    {{ end }}
    
    {{ with .Site.Author.avatar }}
    <figure class="authorbox__avatar">
        <img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="author-card__profile-image avatar">
    </figure>
    {{ end }}


    <div class="author-card__content">
        {{ with .Site.Author.name }}
        <div class="authorbox__header">
           
            <a href=""><span class="authorbox__name">{{ . }} authorbox</span></a>
        </div>
        {{ end }}
        
         {{ if .Params.author }}
				<span class="single-post__tags-item">
				
					{{ range $index, $author := .Params.author }}{{ if gt $index 0 }}, {{ end }}<a class="single-post__tags-link" href="{{ "author/" | relLangURL }}{{ . | urlize | lower }}" rel="author">{{ . }}</a>{{ end }}</span>
				{{ end }}

        {{ with .Site.Author.bio }}
        <div class="authorbox__description">
        {{ . }}
        </div>
        {{ end }}
        

        <span class="author-card__social social-profiles">
            <a class="social-profiles__icon" href="" target="_blank"><i class="icon-facebook"></i></a> 
            <a class="social-profiles__icon" href="" target="_blank"><i class="icon-twitter"></i></a> 
        </span>

    </div>
    
  
    
</section>
{{ end }}    