        <footer class="site-footer">

            <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; Copyright 2017. Powered by [Hugo](https://gohugo.io) and [Fluxtheme](https://github.com/fluxtheme/fluxtheme)" | markdownify }}</p>

        </footer>
        
        
         </div>
       
       
       {{ partial "js" . }}
       
       
       
  
    </body>

</html>
