<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }}</title>
        {{ partial "css" . }} {{ .Hugo.Generator }}
        {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}
        
        {{ if .Site.GoogleAnalytics }}
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
        {{ end }}
    </head>

    <body>
        <div class="site-wrapper">
        
            <header class="site-header header">
                <div class="container header-nav clearfix">  
                    <div class="header-nav__brand">

                        {{ if .Site.Params.logo }}
                        <h1 class="header-nav__logo"><img class="header-nav__logo-img" src="{{ $.Site.Params.logo | relURL }}" alt=""></h1>
                        {{ else }}
                        <h1 class="header-nav__title">{{ .Site.Title }}</h1>
                        {{ end }}

                    </div>
                    <nav class="header-nav__main main-nav">
                        <div class="main-nav__mobile">
                            <a class="nav-toggle" href="#!"><span class="nav-toggle__item"></span></a>
                        </div>

                        {{ if .Site.Menus.main }}
                        <ul class="main-nav__items menu">

                            {{ range sort .Site.Menus.main }}
                            <li class="main-nav__item"><a class="main-nav__link" href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}

                        </ul>
                        {{ end }}    

                    </nav>
                    <div class="header-nav__social social-links">

                        {{ if .Site.Menus.icon }}
                        {{ range sort .Site.Menus.icon }}
                        <a class="social-links__icon" href="{{ .URL }}"><i class="icon-{{ .Name }}"></i></a>
                        {{ end }}
                        {{ end }}

                    </div>
                </div>
            </header>
