<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    {{ range .Site.Params.highlightLanguages }} <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}

    <script>hljs.initHighlightingOnLoad();</script>

{{ end }}

<!-- custom -->
    <script src="{{ .Site.BaseURL }}js/plugin/jquery-3.2.1.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/owl.carousel.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/isotope.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/infinite-sroll.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/instafeed.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/lunr.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/plugin/jquery.fitvids.js"></script>
    <script src="{{ .Site.BaseURL }}js/theme.min.js"></script>   
     
{{ range .Site.Params.js }} <script src="{{ . }}"></script> {{ end }}

     <script>

 // init Isotope
            var $grid = $('.grid').isotope({
              itemSelector: '.element-item',
              layoutMode: 'fitRows',
              getSortData: {
                name: '.name',
                symbol: '.symbol',
                number: '.number parseInt',
                category: '[data-category]',
                weight: function( itemElem ) {
                  var weight = $( itemElem ).find('.weight').text();
                  return parseFloat( weight.replace( /[\(\)]/g, '') );
                }
              }
            });

            // filter functions
            var filterFns = {
              // show if number is greater than 50
              numberGreaterThan50: function() {
                var number = $(this).find('.number').text();
                return parseInt( number, 10 ) > 50;
              },
              // show if name ends with -ium
              ium: function() {
                var name = $(this).find('.name').text();
                return name.match( /ium$/ );
              }
            };

            // bind filter button click
            $('#filters').on( 'click', 'button', function() {
              var filterValue = $( this ).attr('data-filter');
              // use filterFn if matches value
              filterValue = filterFns[ filterValue ] || filterValue;
              $grid.isotope({ filter: filterValue });
            });

            // bind sort button click
            $('#sorts').on( 'click', 'button', function() {
              var sortByValue = $(this).attr('data-sort-by');
              $grid.isotope({ sortBy: sortByValue });
            });

            // change is-checked class on buttons
            $('.button-group').each( function( i, buttonGroup ) {
              var $buttonGroup = $( buttonGroup );
              $buttonGroup.on( 'click', 'button', function() {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $( this ).addClass('is-checked');
              });
            });
</script>
    


