 {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}


<header class="single-post__header">
    <div class="single-post__tags">

    
        {{ range .Params.tags }}
        <span class="single-post__tags-item">{{ . }}</span>
        {{ end }}

    </div>
    <h2 class="single-post__title"><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h2>
    <div class="single-post__meta">
       
      
        <span class="single-post__meta-item"><i class="icon-calendar"></i> <time class="single-post__published" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time></span> 
      
        

        <span class="single-post__meta-item"><i class="icon-eye"></i><i class="reading-time"></i></span>
    </div>
</header>
