{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

<nav class="pagination clearfix" role="navigation">
     {{ if .Paginator.HasPrev }}
        <a class="pagination__newer-posts button" href="{{ .Paginator.Prev.URL }}">&larr; Newer Posts</a>
      {{ end }}
    <span class="pagination__page-number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
     {{ if .Paginator.HasNext }}
        <a class="pagination__older-posts button" href="{{ .Paginator.Next.URL }}">Older Posts &rarr;</a>
    {{ end }}
</nav>
{{ end }}


