<span class="button-slider button-slider--prev icon-angle-left"></span>
<div id="owl" class="loop owl-carousel owl-theme owl-loaded owl-drag">
 
 
 
 {{ range first 5 (where .Data.Pages "Type" "post") }}
   
    <article class="post-carousel">

      
    {{ if .Params.featured_image }}<div class="featured-slide" style="background-image: url({{ .Params.featured_image | relURL }})"></div>{{ end }}
       
        <header class="post-carousel__header">
           
             
 
     
                {{ range first 1 .Params.tags }}
                <span class="post-carousel__tags">{{ . }}</span>
               {{ end }}

                <a class="post-carousel__link" href="{{ .Permalink }}"><h3 class="post-carousel__title">{{ .Title }}</h3></a>
                <time class="post-carousel__published">{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006" }}{{ end }}</time>
               
                
                 
        </header>
      
        
        <div class="featured-hover"></div>

    </article>
    
    {{ end }}
   

</div>
<span class="button-slider button-slider--next icon-angle-right"></span>

