{{ if .Site.Params.post_navigation }}
{{ if or (.PrevInSection) (.NextInSection) }}
<nav class="read-next" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
	 {{ if .PrevInSection }}
    <a class="prev-post" href="{{.PrevInSection.RelPermalink}}"><i class="icon-angle-left"></i> Previous Article</a> 
    {{ end }}
	{{ if .NextInSection }}
    <a class="next-post" href="{{.NextInSection.RelPermalink}}">Next Article <i class="icon-angle-right"></i></a> 
   {{ end }}
</nav>
{{ end }}
{{ end }}