<article class="post-grid">
 
    <div class="post-grid__media">  
        <a class="post-grid__image-link" href="{{ .Permalink }}">{{ with .Params.featured_image }}<img class="post-grid__image" src="{{ . }}">{{ end }}<span class="zoom-icon"></span></a>
    </div>
 
    
    <header class="post-grid__header">
     
        <span class="post-grid__tags">design</span>
      
        <a class="post-grid__header-link" href="{{ .Permalink }}"><h3 class="post-grid__title">{{ .Title }}</h3></a>
    </header>

    <section class="post-grid__content">
        <p class="post-grid__excerpt">{{ .Summary }} ...</p>
    </section>
    
    <footer class="post-grid__footer">
        <span class="post-grid__comment"><i class="icon-comment"></i> </span>
        
       {{ partial "share-button" . }}
    </footer>    
</article>
  