  {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

       <section class="related-posts">
    <h3 class="related-posts__title">You May Also Like</h3>
    <div class="related-posts__content clearfix">
    
        {{ range $related }}
        <div class="related-post">
            <div class="related-post__media">
                 {{ if .Params.featured_image }}
                <a href="{{ .RelPermalink }}" class="related-post__image-link"><img src="{{ .Params.featured_image | relURL }}" alt="" class="related-post__image"></a>
                 {{ end }}
            </div>
            <div class="related-post__body">
                <a href="{{ .RelPermalink }}" class="related-post__title-link"><p class="related-post__body-title">{{ .Title }}</p></a>
            </div>
        </div>
        {{ end }}
    
    </div>
</section>

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

<h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}
    
    

    
    
    
    
    
   