<aside class="sidebar-area">
   
   {{ partial "widgets/widget-author" . }}
   
   {{ partial "widgets/categories.html" . }}
   
   {{ partial "widgets/resent.html" . }}
   
   {{ partial "widgets/taglist.html" . }}
   

   {{ if and (not .Site.Params.widgets.author) (not .Site.Params.widgets.recent_articles) (not .Site.Params.widgets.categories) (not .Site.Params.widgets.social) (not .Site.Params.widgets.taglist) }}
	<p class="sidebar__warning"><strong>WARNING:</strong><br>Please activate at least one sidebar widget.</p>
	{{ end }}
    
</aside>