<div class="single-post__social social-share">

    <a class="social-share__icon" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="icon-facebook"></i></a>

    <a class="social-share__icon" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="icon-twitter"></i></a>

    <a class="social-share__icon" href="https://plus.google.com/share?url={{ .Permalink }}}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="icon-gplus"></i></a>

   

</div>