{{ partial "header" . }}

<main id="site-main" class="site-main container" role="main">
    <div class="main-content clearfix">
        <section class="content-area">
            <article class="single-post">

             
                <header class="single-post__header">
                    <div class="single-post__tags">
                       
                
                      
                          {{ if .Params.tags }}
				<span class="single-post__tags-item">
				
					{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a class="single-post__tags-link" href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag">{{ . }}</a>{{ end }}</span>
				{{ end }}
                       
                        
                       
                       
                    </div>
                    <h2 class="single-post__title">{{ .Title }}</h2>
                   
                    </div>
                </header>
                
                

                {{ if .Params.featured_image }}
                <div class="single-post__feature-image">
                    <a class="single-post__image-link" href="{{ .Permalink }}"><img class="single-post__image" src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}"></a>
                </div>
                {{ end }}

                <section class="single-post__content">
                    {{ .Content }}
                </section>

                <footer class="single-post__footer">
                    <div class="post-footer">
                        <div class="post-footer__tags">

                            {{ range .Params.tags }}
                            <span class="post-footer__tags-link">{{ . }}</span>
                            {{ end }}

                        </div>

                        {{ partial "social-share" . }}

                    </div>


                </footer>
            </article>

            <!-- related posts with the same tags -->
            {{ partial "related-posts" . }}

        </section>

        {{ partial "sidebar" . }}

    </div>
</main>

{{ partial "footer.html" . }}
