/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    color: color(var(--secondary-text-color) l(-25%));
    font-family: var(--font-body);
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: var(--main-background);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
::selection {
    text-shadow: none;
    background: color(var(--link-color) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}
iframe {
    margin-bottom: 1.2em;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input[type="text"],
textarea {
    border-width: inherit;
    border: 1px solid var(--border-color);
    padding: 0.5em 0.75em;
    outline: none;
}

textarea {
    resize: vertical;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    color: color(var(--primary-text-color) lightness(40%));
    background: color(var(--main-background) blackness(2%));
    padding: 0.5em 1em;
    border: 1px solid var(--border-color);
    font-family: var(--font-heading);
    outline: none;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin: 0.5em 0;
    padding-left: 0.5em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--primary-color);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0.25em 1.6em;
    border-left: var(--border-color) 0.3em solid;
    background: color(var(--main-background) blackness(2%));
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.7rem;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color(var(--link-color) l(-5%));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: var(--font-heading);
    color: var(--primary-text-color);
    line-height: 1.15;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 1em;
    font-size: 3.2rem;
}
@media (--extra-small-screen) {
    h1 {
        font-size: 2.2rem;
    }
}

h2 {
    margin: 0 0 1em;
    font-size: 2.5rem;
}
@media (--small-screen) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    margin: 0 0 1em;
    font-size: 2.2rem;
}
@media (--small-screen) {
    h3 {
        font-size: 1.8rem;
    }
}

h4 {
    margin: 0 0 1em;
    font-size: 1.8rem;
}

h5 {
    margin: 0 0 1em;
    font-size: 1.6rem;
}

h6 {
    margin: 0 0 1em;
    font-size: 1.4rem;
}

table {
    border-collapse: separate;
    border-spacing: 1px 1px;
    background: color(var(--main-background) blackness(7%));
    width: 100%;
    margin-bottom: 1.5em;
    
    & td,
    & th {
        padding: 0.5em 1em;
    }
}

table th {
	  background: color(var(--main-background) blackness(7%));
}

table td:hover {
  background: color(var(--main-background) blackness(6%));
  color: color(var(--primary-text-color) lightness(32%));
}

/* Background-color of the odd rows */
table tr:nth-child(odd) {
	  background: color(var(--main-background) blackness(2%));
}

/* Background-color of the even rows */
table tr:nth-child(even) {
	  background: color(var(--main-background) blackness(4%));
}

