<div class="post-feed__grid post-grid__wrapper">

  <article class="post-grid">
 
   {{ if .Params.featured_image }}
    <div class="post-grid__media">  
        <a class="post-grid__image-link" href="{{ .Permalink }}"><img class="post-grid__image" src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}" /><span class="zoom-icon"></span></a>
    </div>
    {{ end }}
    
    
    <header class="post-grid__header">
    

     
       {{ range .Params.tags }}
                <span class="post-grid__tags">{{ . }}</span>
               {{ end }}
        
      
        <a class="post-grid__header-link" href="{{ .Permalink }}"><h3 class="post-grid__title">{{ .Title }}</h3></a>
    </header>

    <section class="post-grid__content">
        <p class="post-grid__excerpt">{{ .Summary }} ...</p>
    </section>
    
    <footer class="post-grid__footer">
        <span class="post-grid__comment"><i class="icon-comment"></i> </span>
        
       {{ partial "share-button" . }}
    </footer>    
</article>

</div>


