.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.clearfix {
    lost-utility: clearfix;
}
.header-nav__brand {
    lost-column: 1/4;
}
.header-nav__main {
    lost-column: 2/4;
}
.header-nav__social {
    lost-column: 1/4;
}
.content-area {
    lost-column: 2/3 3 0 no-flex;
}
.sidebar-area {
    lost-column: 1/3 3 0 no-flex;
}
.related-post {
    lost-column: 1/3;
}
.post-feed__grid {
    width: 50%;
}

/*Medium Screen*/
@media (--medium-screen) {
    .content-area,
    .sidebar-area {
        width: 100%;
    }
    .content-area {
        padding: 0 1.5em;
    }
}

/*Small Screen*/
@media (--small-screen) {
    .post-feed__grid,
    .related-post {
        width: 100%;
    }
}