.header-author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--border-color);
}
.header-author__media {
    width: 9em;
    margin-right: 2em;
}
.header-author__image {
    width: 8em;
    height: 8em;
    border: 6px solid var(--light-text-color);
    border-radius: 50em;
}
.header-author__name,
.header-author__bio {
    margin: 0 0 0.5em;
}
.author-meta__stats {
    margin-bottom: 0.5em;
}
.author-meta__social-link,
.author-meta__location,
.author-meta__website {
    color: color(var(--light-text-color) blackness(80%));
    margin-right: 5px;
}

/*Small Screen*/
@media (--small-screen) {
    .header-author {
        flex-direction: column;
        padding: 1em 2em;
    }
    .header-author-media {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    .header-author-profile {
        margin-right: 0;
    }
}