.header-nav__brand {
    height: 56px;
    display: flex;
    align-items: center;
    
    & .header-nav__logo {
        margin: 0;
        
        & .header-nav__logo-img {
            max-height: 32px;
        }
    }
}
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    
    & .social-links__icon {
        color: var(--light-text-color);
        margin-right: 8px;

        &:hover {
            color: var(--link-color);
        }
    }
}
.site-header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.banner {
    position: relative;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    & .banner-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        right: 0;
        bottom: 0;
        background: color(var(--primary-color) alpha(60%));
        display: flex;
        justify-content: center;
        align-items: center;
        
        & .banner-content {
            text-align: center;
            
            & .banner-title,
            & .banner-description {
                 color: var(--light-text-color);
            }
           
        }
    }
}
.is-full--height {
    min-height: 550px;
    height: 100%;
    height: 100vh;
}



