:root {
    --nav-height: 56px;
}
.header-nav {
    width: 100%;
    height: var(--nav-height);
}
.header-nav__container {
    display: flex;
    justify-content: center;
}
.fixed {
    position: fixed;
    border: none;
    box-shadow: var(--black-shadow);
    top: 0;
    height: var(--nav-height);
    z-index: 9;
}
.main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav__item {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
.main-nav__link,
.main-nav__link:visited {
    font-family: var(--font-heading);
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    padding: 0 24px;
    line-height: var(--nav-height);
    color: var(--light-text-color);
    text-decoration: none;
    &:hover {
        color: var(--link-color);
        text-decoration: none;
    }
}
.main-nav__mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 1.5em;
    height: var(--nav-height);
    width: var(--nav-height);
}
.nav-toggle {
    position: absolute;
    left: 10px;
    top: 16px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
.nav-toggle__item,
.nav-toggle__item:before,
.nav-toggle__item:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: color(var(--primary-color) lightness(30%));
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
.nav-toggle__item:before {
    top: -10px;
}
.nav-toggle__item:after {
    bottom: -10px;
}
.nav-toggle.active .nav-toggle__item {
    background-color: transparent;
    &:before,
    &:after {
        top: 0;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 800px) {
    .header-nav {
        position: fixed;
        border: none;
        top: 0;
        height: var(--nav-height);
        z-index: 9;
    }
    .header-nav__container {
        width: 100%;
    }
    .main-nav__mobile {
        display: block;
    }
    .main-nav {
        background: var(--main-background);
        width: 100%;
        padding: var(--nav-height) 0 0;
    }
    .main-nav__items {
        margin: 0 2em;
        display: none;
    }
    .main-nav__item {
        float: none;
        border-top: 1px solid var(--border-color);
        
        &:last-child {
            margin-bottom: 1.5em;
            border-bottom: 1px solid var(--border-color);
        }
    }
    .main-nav__link,
    .main-nav__link:visited {
        color: var(--secondary-text-color);
    }
    .main-nav__link {
        text-align: center;
        padding: 15px;
        line-height: 20px;
    }
}

@media screen and (min-width: 800px) {
    .main-nav__items {
        display: block !important;
    }
}

@media (--small-screen) {
    .header-nav {
        position: absolute;
        top: 0;
    }
}