.pagination {
    text-align: center;
    font-weight: 300;
    font-family: var(--font-heading);
    margin-bottom: 3em;
}
.pagination__page-number {
    line-height: 39px;
}
.pagination__newer-posts {
    float: left;
}
.pagination__older-posts {
    float: right;
}

/*Medium screen*/
@media (--medium-screen) {
    .pagination {
        margin: 0 2em 3em;
    }
}
