.post-footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px dashed var(--border-color);
}
.post-footer__tags-link {
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    text-transform: lowercase;
    background: color(var(--main-background) blackness(10%));
    padding: 5px 10px;
    border-radius: 2px;
    
    &:hover {
        text-decoration: none;
    }
}
.social-share {
    display: flex;
}
.social-share__alt {
    margin-right: 1.5em;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    
    & .fa {
        color: var(--light-text-color);
    }
    
    &:hover {
        border: 1px solid var(--primary-color);
    }
}
.social-share__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--border-color);
    margin-left: 10px;
    
    &:hover {
        text-decoration: none;
        border: 1px solid var(--border-color);
    }
}
.read-next {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.prev-post,
.next-post {
    font-weight: 500;
    color: color(var(--primary-text-color) lightness(20%));
    
    &:hover {
        color: color(var(--primary-text-color) lightness(50%));
        text-decoration: none;
    }
}
.author-card {
    display: flex;
    border-top: 1px solid var(--border-color);
    padding: 3em 0;
    border-bottom: 1px solid var(--border-color);
}
.author-card__profile-image {
    width: 8em;
    height: 8em;
    margin-right: 2em;
    border-radius: 5px;
}
.author-card__name {
    margin: 0 0 0.5em;
}
.author-card__name-link {
    color: var(--primary-text-color);
}
.social-profiles__icon {
    color: color(var(--primary-color) lightness(40%));
    margin-right: 8px;
}
.page-tag {
    text-align: center;
    margin-bottom: 2em;
}

/*Small Sreen*/
@media (--small-screen) {
    .post-footer {
        flex-direction: column;
        padding: 0 1em 1.5em;
    }
    .post-footer__tags {
        margin-bottom: 1.5em;
    }
    .social-share__alt {
        display: none;
    }
    .author-card {
        flex-direction: column;
        text-align: center;
    }
    .author-card__profile-image {
        margin: 0 auto 1em;
    }
    .social-profiles__icon:last-child {
        margin-right: 0;
    }
}
