/*global button*/
.button {
    color: var(--secondary-text-color);
    background: color(var(--main-background) blackness(10%));
    padding: 0.5em 1em;
    
    &:hover {
        color: color(var(--secondary-text-color) lightness(30%));
        text-decoration: none;
    }
}

/*featured content*/
.post-slider {
    position: relative;
    margin-bottom: 3em;
    
    & .post-carousel {
        
        & .featured-slide {
            max-width: 100%;
            background-color: color(var(--main-background) blackness(5%));
            height: 400px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: scale(1);
            will-change: transform;
            transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: 0;
        }
        
        & .post-carousel__header {
            position: absolute;
            top: 55%;
            left: 10%;
            text-align: center;
            width: 80%;
            padding: 0.5em 1em 1em;
            background: color(var(--main-background) alpha(90%));
            transition: all 0.3s ease;
            z-index: 9;
            
            & .post-carousel__tags,
            & .post-carousel__published {
                font-size: 1.3rem;
            }
            
            & .post-carousel__tags {
                text-transform: uppercase;
            }
            
            & .post-carousel__link:hover {
                text-decoration: none;
            }
            
            & .post-carousel__title {
                margin: 0;
            }
        } 
        
        & .featured-hover {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
            border-radius: 0;
            visibility: hidden;
            transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            opacity: 0;
        }
        
        &:hover {
            
            & .featured-slide {
                transform: scale(1.1);
            }

            & .post-carousel__header {
                transform: translateY(-30%);
            }

            & .featured-hover {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
    & .owl-carousel .owl-item {
        overflow: hidden;
    }
    
    & .owl-carousel {
        & .owl-dots {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 1em;
            
            & .owl-dot span {
                background: color(var(--main-background) blackness(30%));
                width: 16px;
                height: 2px;
                border-radius: 0;
            }
            
            & .owl-dot.active span {
                background: color(var(--main-background) blackness(30%));
                height: 8px;
            }
        }
    }
    
    & .button-slider {
        position: absolute;
        width: 35px;
        height: 35px;
        font-size: 25px;
        color: #757575;
        line-height: 36px;
        text-align: center;
        top: 49%;
        background-color: var(--main-background);
        cursor: pointer;
        opacity: .6;
        transform: translateY(-50%);
        transition: opacity,.5s,ease-in-out;
        visibility: hidden;
        z-index: 10;
    }
    
    & .button-slider--prev {
        left: 25px;
    }
    
    & .button-slider--next {
        right: 25px;
    }
    
    &:hover .button-slider {
        visibility: visible;
    }
}

/*featured-post*/
.featured-posts {
    margin-bottom: 2em;
    border-bottom: 1px solid var(--border-color);
}
.featured-post__header {
    text-align: center;
    margin-bottom: 1.5em;
}
.featured-post__header-link:hover {
    text-decoration: none;
}
.featured-post__title {
    margin-bottom: 0.25em;
}
.featured-post__media {
    margin-bottom: 1.5em;
}
.featured-post__read-more {
    margin-bottom: 2em;
}


/*Main content*/
.post-grid__wrapper {
    padding: 2em;
    box-shadow: 1px -1px 0 0 #f2f2f2, inset 1px -1px 0 0 #f2f2f2;
}
.post-grid__header {
    margin-bottom: 1.5em;
}
.post-grid__header-link:hover {
    text-decoration: none;
}
.post-grid__title {
    font-size: 2rem;
    margin-bottom: 0.25em;
}
.post-grid__media {
    margin-bottom: 1em;
}
.post-grid__media {
    position: relative;
}
.post-grid__media:hover .zoom-icon {
    opacity: 0.8;
    cursor: pointer;
}
.post-grid__tags {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.post-grid__read-more {
    margin-bottom: 2em;
}
.post-grid__footer {
    position: relative;
}
.zoom-icon {
    opacity: 0;
    display: block;
    position: absolute;
    background: var(--primary-color);
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}



/*Only Large Screen*/
@media (--only-large-screen) {
    .site-main {
        padding: 0 1.5em;
    }
}










.share {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 8px 18px;
  width: 215px;
  height: 60px;
  font-size: 14px;
  letter-spacing: 2px;
  overflow: hidden;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
  transition: all .2s ease-in-out;
  cursor: default;
  user-select: none;

  & .text {
    position: absolute;
    top: 18px;
    left: 42px;
    overflow: hidden;
    width: 90px;
    height: 25px;
    text-align: right;
    z-index: 1;

    & em {
      position: absolute;
      right: 0;
      top: 0;
      transition: right .2s ease-in-out .1s;
    }
  }

  & .ico-share {
    position: absolute;
    top: 20px;
    right: 43px;
    transition: right .2s ease-in-out;
    width: 20px;
    height: 20px;
  }

  & .ico {
    color: var(--secondary-text-color);
      font-size: 1.8rem;
    position: absolute;
    top: 18px;
    left: -35px;
    transition: all .2s ease-in-out;
    display: inline-block;
    z-index: 2;
  }

  &:hover {
    & em {
      right: -300%;
      transition-delay: 0;
    }

    & .fb {
      left: 32px;
      transition-delay: 0.3s;
    }

    & .tw {
      left: 70px;
      transition-delay: 0.2s;
    }

    & .gp {
      left: 119px;
      transition-delay: 0.1s;
    }

   & .ico-share {
      top: 23px;
      right: 30px;
      width: 15px;
      height: 15px;
    }
  }
}

/* Second */
.share:nth-child(2) {
  margin-top: 50px;
  overflow: visible;
  display: none;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .2s ease-in-out 0s;
    transition-delay: 0.35s;
  }

  &::before {
    background: linear-gradient(to bottom, #E2E2E2, #F5F5F5);
    box-shadow:  inset 0 0 1px rgba(0, 0, 0, 0.7);
    top: 0;
    width: 78%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    transition: top .17s ease-in-out;
    transition-delay: 0.35s;
    border-radius: 0 0 8px 8px;
  }

  & .text, 
  & .ico-share {
    z-index: 2;
  }

  & .ico {
    color: #15a7fa;
    top: 10px;
    text-shadow: none;
    transition: all .17s ease-in-out;
    z-index: 1;
  }

  & .fb {
    left: 48px;
    transition-delay: 0.1s;
    color: #43609c;
  }

  & .tw {
    left: 87px;
    transition-delay: 0.18s;
    color: #1da1f2;

  }

  & .gp {
    left: 135px;
    transition-delay: 0.26s;
    color: #d73d32;    
  }
  
  & .ico-share {
    transition: all .17s ease-in-out .1s;
  }

  &:hover {

    &::after {
      transition-delay: 0s;
    }

    &::before {
      top: 90%;
      transition-delay: 0s;
    }

    & .text em {
      right: 0;
    }

    & .ico-share {
      top: 21px;
      right: 43px;
      width: 16px;
      height: 16px;
      transition-delay: 0s;
    }

    & .ico {
      top: 75px;
    }

  }
}
