.related-posts__title {
    position: relative;
    margin-bottom: 2.5em;
    text-align: center;
    
     &:before {
        content: '';
        position: absolute;
        width: 12%;
        height: 2px;
        left: 44%;
        background: var(--primary-color);
        top: 2em;
    }
}
.related-post__media {
    background: var(--main-background);
}
.related-post__image {
    width: 100%;
    height: 9em;
}
.related-post__title-link {
    font-family: var(--font-heading);
    color: var(--secondary-text-color);
    
    &:hover {
        text-decoration: none;
        color: var(--primary-color);
    }
}
.related-post__body {
    padding-top: 1em;
}
.related-post__body-title {
    text-align: center;
}

/*Small Screen*/
@media (--small-screen) {
    .related-post {
        margin-bottom: 1em;
    }
    .related-post__media {
        float: left;
        width: 20%;
        margin-right: 1em;

        & img {
            height: auto;
            margin-top: 4px;
        }
    }
    .related-post__body {
        padding: 0;
    }
    .related-post__body-title {
        text-align: left;
    }
}