/*Sidebar Widget*/
.sidebar-widget {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 1em;
}
.widget-header {
    display: flex;
    justify-content: center;
}
.widget-title {
    margin: 0 0 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--primary-color);
}
.widget-content {
    overflow: hidden;
}
.widget-author,
.widget-cats,
.widget-resent,
.widget-tags,
.widget-subscribe,
.facebook-page {
    padding: 2em;
}

/*Widget Author*/
.widget-author__thumb {
    margin-bottom: 1.2em;
}
.widget-author__image {
    display: block;
    width: 9em;
    height: 9em;
    border-radius: 50em;
    border: 5px solid color(var(--border-color) lightness(92%));
    margin: 0 auto;
}
.widget-author__bio {
    margin: 0;
}

/*Widget Categories*/
.widget-cats__items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-cats__item {
    margin: 0;
    padding: 0;
    line-height: 3em;
    border-bottom: 1px dashed var(--border-color);
    
    &:last-child {
        border-bottom: none;
    }
}
.widget-cats__link {
    text-transform: capitalize;
    color: var(--secondary-text-color);
    
    &:hover {
        text-decoration: none;
        color: var(--primary-text-color);
    }
}

/*Widget resent post*/
.widget-post {
    display: flex;
    padding-bottom: 0.75em;
    margin-bottom: 0.7em;
    border-bottom: 1px dashed var(--border-color);
    
    &:last-child {
        border-bottom: none;
    }
}
.widget-post__image {
    width: 4em;
    height: 4em;
    margin: 0.3em 1em 0 0;
    border-radius: 5px;
}
.widget-post__body {
    width: 75%;
}
.widget-post__title {
    font-family: var(--font-heading);
    color: var(--primary-text-color);
    font-weight: 600;
    margin: 0 0 0.5em;
    
    &:hover {
        color: var(--link-color);
    }
}
.widget-post__title-link:hover {
    text-decoration: none;
}
.widget-post__date {
    color: var(--secondary-text-color);
    font-size: 1.3rem;
}

/*Widget Tags*/
.widget-tags__items {
    padding: 0;
}
.widget-tags__item {
    font-size: 1.3rem;
    list-style: none;
    display: inline-block;
    border-radius: 2px;
    background: var(--main-background);
    padding: 0.25em 0.7em;
    margin-right: 0.6em;
    text-transform: lowercase;
    
    &:hover {
        background: var(--primary-color);
        
        & a {
            color: var(--light-text-color);
        }
    }
    
    & a {
        color: var(--secondary-text-color);
        
        &:hover {
            text-decoration: none;
        }
    }
}

/*Widget subscribe*/
.widget-subscribe__content {
    & .form-group {
        margin-bottom: 1.5em;
    }
    
    & button {
        width: 100%;
        padding: 0.75em 1em;
        background: color(var(--main-background) blackness(10%));
        
        & span {
            font-size: 1.4rem;
        }
        
        &:hover {
            background: color(var(--main-background) blackness(15%));
        }
    }
}
.widget-subscribe__title {
    margin-bottom: 0.25em;
}
.widget-subscribe__description {
    font-size: 1.3rem;
}

/*Widget FB Page*/
@media (--large-screen) {
    .main-content__sidebar {
        padding-left: 2em;
    }
}
@media (--medium-screen) {
    .sidebar-widget {
        margin-left: 2em;
        margin-right: 2em;
    }
}
