.single-post,
.post-page {
    margin: 0 0 2.6em;
}
.page-tag {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border-color);
}
.single-post__header,
.post-page__header {
    padding: 0 2em;
    margin-bottom: 1.5em;
}
.post-page__header {
    margin-bottom: 2em;
}
.single-post__tags {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
}
.single-post__tags-item {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--primary-color);
}
.single-post__title,
.post-page__title {
    text-align: center;
    margin-bottom: 0.5em;
}
.single-post__meta {
    color: color(var(--secondary-text-color) lightness(42%));
    text-align: center;
}
.single-post__meta-item {
    margin-right: 10px;  
}
.single-post__comment-link {
    color: var(--secondary-text-color);
    
    &:hover {
        text-decoration: none;
    }
}
.reading-time {
    padding-left: 5px;
}
.single-post__published {
    font-style: italic;
}
.single-post__feature-image,
.fluid-width-video-wrapper {
    margin-bottom: 2em;
}
.single-post__image {
    width: 100%;
    height: auto;
}
.single-post__content,
.post-page__content {
    padding: 0 0 2em;
    
    & img {
        display: block;
        margin: 0 auto;
    }
    
    & hr {
        margin-bottom: 1em;
    }
}
.hljs {
    padding-left: 1.5em!important;
    margin-bottom: 1.5em;  
}

/*Button Style*/
.button--small {
    padding: 0.5em 2em;
}
.button--full {
    width: 100%;
}
.button--dark {
    background: var(--primary-color);
    color: var(--light-text-color);
    border: 1px solid var(--primary-color);
}
.button--center {
    display: block;
    margin: 0 auto;
}









* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #eee;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.2)
  );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8cf;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28f;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */

.grid {
 
}

/* clear fix */
.grid:after {
 
}

/* ---- .element-item ---- */
.demo-theme__item {
    position: relative;
    height: 200px;
    
    & .demo-theme__img {
        display: block;
        height: 190px;
        overflow: hidden;
        
        & img {
        transform: scale(1);
        will-change: transform;
        transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        
        
    }
    }
    
    & .demo-theme__preview {
        position: absolute;
            top: 55%;
            left: 10%;
            text-align: center;
            width: 80%;
            padding: 0.5em 1em 1em;
            background: color(var(--main-background) alpha(90%));
            transition: all 0.3s ease;
            z-index: 9;
    }
    & .demo-theme__title {
        padding-top: 1em;
        text-align: center;
    }
    &:hover .demo-theme__img img {
            transform: scale(1.1);
        }
    
    &:hover .demo-theme__preview {
         transform: translateY(-30%);
    }
}

.element-item {
    lost-column: 1/5;
    
  position: relative;
  height: 240px;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
